footer {
  background-color: #43ccf0;
  height: 4rem;
}

.formulario {
  padding-left: 16.5rem;
  padding-right: 16.5rem;
  padding-bottom: 3%;
}

.boton {
  background-color: #43ccf0 !important;
}

.contacto {
  color:  #ffffff;
  text-align: center;
  padding-top: 3rem;
}

.hrblanco {
  color: #ffffff;
  margin-left: 3%;
  margin-right: 3%;
}

.hrblanco2 {
  color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
}

.card-img-top {
  height: 40%;
}

.card-body {
  background-color: #43ccf0;
}

.base-icono {
  background-color: #43ccf0;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.quienes-somos {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.card-text {
  color: white;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

div h3 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

div h4 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}